<app-base-card name="make a new project" icon="assets/images/svgs/plus-solid-full-purple.svg">
    <form class="technology-form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <!-- icon -->
        <h2 class="h2-label">Project Icon</h2>
        <div class="icon-container"  (click)="iconFileInput.click()">
            <div class="avatar-icon">
                @if(iconFileImage; as iconpng) {
                    <img [src]="iconpng">
                } @else {
                    <img src="assets/images/svgs/image-solid-full.svg">
                }
            </div>

            <h1> {{ iconFileName || 'file.png' }} </h1>

            <input type="file" class="dn" #iconFileInput (change)="onIconFileSelected($event)" accept=".png,.svg">
        </div>
    
        <!-- name -->
        <h2 class="h2-label">Project Name</h2>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex: Angular, Docker..." name="techName" formControlName="name">
        </mat-form-field>

        <!-- description -->
        <h2 class="h2-label">Description</h2>
        <mat-form-field appearance="fill">  
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="6"
                cdkAutosizeMaxRows="10" 
                formControlName="description">
            </textarea>
        </mat-form-field>

        <!-- project config -->
        <h2 class="h2-label">project config*</h2>
        <div class="project-config-container" (click)="configFileInput.click()">
            <div class="upload-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free 7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M352 173.3L352 384C352 401.7 337.7 416 320 416C302.3 416 288 401.7 288 384L288 173.3L246.6 214.7C234.1 227.2 213.8 227.2 201.3 214.7C188.8 202.2 188.8 181.9 201.3 169.4L297.3 73.4C309.8 60.9 330.1 60.9 342.6 73.4L438.6 169.4C451.1 181.9 451.1 202.2 438.6 214.7C426.1 227.2 405.8 227.2 393.3 214.7L352 173.3zM320 464C364.2 464 400 428.2 400 384L480 384C515.3 384 544 412.7 544 448L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 448C96 412.7 124.7 384 160 384L240 384C240 428.2 275.8 464 320 464zM464 488C477.3 488 488 477.3 488 464C488 450.7 477.3 440 464 440C450.7 440 440 450.7 440 464C440 477.3 450.7 488 464 488z"/></svg>
                <p>UPLOAD</p>
            </div>

            <h2>" {{ configFileName || 'Upload a JSON config file...' }} "</h2>

            <input type="file" class="dn" (change)="onConfigFileSelected($event)" #configFileInput accept=".json">
        </div>

        <!-- upload photos -->
        <h2 class="h2-label">Upload Photos</h2>
        <div 
            class="drop-zone"
            [class.drop-zone-active]="isDragging"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave()"
            (drop)="onDrop($event)"
            (click)="fileInput.click()">
            
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" accept="image/*" multiple>

            @if (selectedPhotos.length === 0) {
                <img src="assets/images/svgs/image-solid-full.svg">
                <p>FILES</p>
            }

            @for (file of selectedPhotos; track file.name){
                <div class="photo-container">
                    <img [src]="file.img" alt="">
                    <h2>{{ file.name }}</h2>
                </div>
            }
        </div>

        <!-- add technologies -->
        <h2 class="h2-label">Add Technologies</h2>
        <app-filter-input 
            (onSelected)="handleSelection($event)"
            [options]="technologyOptions()">
        </app-filter-input>

        @for(tech of selectedTechnologies; track tech.id){
            <div class="technology-container">
                <div class="avatar-icon">
                    <img [src]="bucket + tech.iconPath">
                </div>

                <h1> {{ tech.name }} </h1>

                <div class="close-container" (click)="closeOnClick(tech.id)">
                    <img src="assets/images/svgs/xmark-solid-full.svg">
                </div>
            </div>
        }  

        <!-- submit -->
        <div class="button-row">
            <button matButton="filled" type="submit" [disabled]="projectForm.invalid">Create</button>
        </div>
    </form>

    <app-response-msg [success]="success" [error]="error"></app-response-msg>
</app-base-card>
